.edit-boutique-button-container{
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#add-boutique-button{
    margin-left: 10px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    color: black;
    font-size: medium;
    background-color: white;
    border: solid lightgrey 1px;
    border-radius: 10px;
    padding: 10px;
    margin-right: 5px;
}


.edit-boutique-label-container{
display: flex;
flex-direction: row;
justify-content: center;
}

.edit-boutique{
font-weight: bold;
font-family: sans-serif;
font-size: large;
}
