@font-face {
    font-family: 'Open Baskerville';
    src: url('../../context/OpenBaskerville-0.0.53.otf');
}

body {
    margin: 0px;
    background-color: #fff;
}
.boutique-name-container{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#boutique-name{
    cursor: default;
    font-family: 'Open Baskerville';

}

.boutique-country-city-container{
   
    margin-top: 7px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.boutique-priceRange-container{

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.boutique-priceRange{
    font-family: 'Open Baskerville';
    font-weight: lighter;
}

.boutique-detail-country-city{
    font-family: 'Open Baskerville';
    margin-bottom: 5px;
    font-weight: lighter;
}

.boutique-image-container{
    
    margin-left: 20px; 
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.single-boutique-image{
    height: 400px;
    width: 500px;
}

.boutique-address-container{
    
    margin-left: 20px;
    margin-top: 20px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.boutique-address{
    font-family: 'Open Baskerville';
    font-size: 150%;
    font-weight: lighter;
}


.bookings-botton-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.go-to-create-booking-button{
    /* margin-left: 39.9px; */
    text-decoration: none;
    font-family: 'Open Baskerville';
    font-weight: bold;
    color: black;
    font-size: medium;
    background-color: white;
    border: solid lightgrey 1px;
    border-radius: 10px;
    padding: 10px;

}

.review-button-container{
    
    /* /* margin-left: 20px; */
    margin-top: 20px;
    margin-right: 18px;
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.review-button{
    margin-left: 20px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    color: black;
    font-size: medium;
    background-color: white;
    border: solid lightgrey 1px;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Open Baskerville';
 
}

.all-reviews{
    margin-left: 20px;
    margin-top: 20px;
    font-family: sans-serif;
}

.buttons-container{
    margin-left: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.delete-boutique-button-container{

    margin-right: 10px;
    
}

.delete-boutique-button{
    margin-left: 20px;
    text-decoration: none;
    font-family: 'Open Baskerville';
    font-weight: bold;
    color: black;
    font-size: medium;
    background-color: white;
    border: solid lightgrey 1px;
    border-radius: 10px;
    padding: 10px;
}

.go-to-edit-boutique-button{
    margin-left: 20px;
    text-decoration: none;
    font-family: 'Open Baskerville';
    font-weight: bold;
    color: black;
    font-size: medium;
    background-color: white;
    border: solid lightgrey 1px;
    border-radius: 10px;
    padding: 10px;
}

.go-to-create-perfume-button-container{
    margin-left: 12px;
}

.go-to-create-perfume-button{
    margin-left: 20px;
    text-decoration: none;
    font-family: 'Open Baskerville';
    font-weight: bold;
    color: black;
    font-size: medium;
    background-color: white;
    border: solid lightgrey 1px;
    border-radius: 10px;
    padding: 10px;
}

