/* .boutique-form-container{
    background-color: aqua;

} */

.edit-perfume-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#edit-perfume-button{
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    color: black;
    font-size: medium;
    background-color: white;
    border: solid lightgrey 1px;
    border-radius: 10px;
    padding: 10px;
    margin-right: 5px;

}
