/* .boutique-form-container{
    background-color: aqua;

} */

.edit-perfume-form-root{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #111111;  
    padding-bottom: 22px;
}

#edit-perfume-button{
    font-family: 'Open Baskerville';
    text-decoration: none;
    font-weight: bold;
    background: #ffffff;
    color: #000000;
    font-size: medium;
    border: 1px solid #111111;
    padding: 14px;
    text-transform: uppercase;
    font-size: 0.8rem;
    border-radius: 0.1rem;

}

.edit-perfume-form{
    padding-bottom: 50px;
}
