body {
    margin: 0px;
    background-color: #fff;
}

.main-banner{
    max-width: 100%;

}

.all-boutiques-container {
    margin: 0.5%;
    display: flex;
   
    flex-wrap: wrap;
    justify-content: center;
 
}

.boutiques-container{

    padding: 3px;
    
    
}

.boutique-image {
    width: 310px;
    height: 290px;
    cursor: pointer;
}

.boutique-info-container{
    margin-top: 0.5em;
    margin-left: 2em;
    margin-left: 21px;
}

.boutique-name{
    font-family: sans-serif;
    /* padding: 0px; */
    cursor: pointer;
    margin-bottom: 5px;
   
}

.boutique-country-city{
   margin-bottom: 20px;
    font-family: sans-serif;
    font-weight: lighter;
    cursor: default;
    margin-top: 5px;
    margin-bottom: 5px;

}

.boutique-price-range{
    font-weight: lighter;
    font-family: sans-serif;
    cursor: default;
    margin-top: 5px;
    margin-bottom: 5px;


}

.footer{
    background-color: #111111;
    padding: 20px;
}

.footer-github-link{
    text-decoration: none;
    color:white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: larger;
}

.footer-linkedIn{
    text-decoration: none;
    color:white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: larger;
    margin-left: 20px;
}

.share-your-boutiques-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
}

.share-your-boutiques-text{
    font-family: sans-serif;
    font-weight: bold;
    color: #FF5A5F;
}




