@font-face {
    font-family: 'Open Baskerville';
    src: url('../../context/OpenBaskerville-0.0.53.otf');
}

body {
    margin: 0px;
    background-color: #fff;
}

.main-banner{
    max-width: 100%;
}

.box {
position: relative;
display: inline-block;
}

.text-over-banner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    /* font-family: 'Lora', serif; */
    font-family: "Open Baskerville";
    padding: 1rem 0;
    margin-left: 1060px;
    margin-top: -2px;
  }

.text{
    font-weight: lighter;
}

.our-boutiques{
    /* font-family: var(--heading-font-family); */
    font-family: "Open Baskerville";
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.2;
    margin-top: 50px;
    position: relative;
    text-align: center;
    text-transform: uppercase;

}

.all-boutiques-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2rem;
  }

.boutiques-container{

    padding: 3px;
    
}


.boutique-image {
    width: 310px;
    height: 290px;
  
    cursor: pointer;
}

.boutique-info-container{
    margin-top: 0.5em;
    /* margin-left: 3em; */
    margin-left: 40px;
}

.boutique-name{
    /* font-family: 'Lora', serif; */
    font-family: "Open Baskerville";
    cursor: pointer;
    margin-bottom: 5px;
    font-weight: bold;
   
}

.boutique-country-city{
   margin-bottom: 20px;
   font-family: "Open Baskerville";
    font-weight: lighter;
    cursor: default;
    margin-top: 5px;
    margin-bottom: 5px;

}

.boutique-price-range{
    font-weight: lighter;
    font-family: "Open Baskerville";
    cursor: default;
    margin-top: 5px;
    margin-bottom: 5px;


}

.footer{
    background-color: #111111;
    padding: 20px;

}


.footer-github-link{
    text-decoration: none;
    color:white;
    font-family: "Open Baskerville";
    font-weight: bold;
    font-size: larger;
}

.footer-linkedIn{
    text-decoration: none;
    color:white;
    font-family: "Open Baskerville";
    font-weight: bold;
    font-size: larger;
    margin-left: 20px;
}

.share-your-boutiques-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
}

.share-your-boutiques-text{
    font-family: sans-serif;
    font-weight: bold;
    color: #FF5A5F;
}




