body {
    margin: 0px;
}

.all-boutiques-container {
    margin: 3%;
    display: flex;
   
    flex-wrap: wrap;
    justify-content: center;

 
}

.boutiques-container{

    padding: 30px;
    
}

.boutique-image {
    width: 270px;
    height: 270px;

    border-radius: 10px;
}

.boutique-info-container{
    margin-top: 0.5em;
    margin-left: 2em;
}

.boutique-name{
    font-weight: 700;
    font-family: sans-serif;
    padding: 0px;
}

.boutique-country-city{
   
    font-family: sans-serif;
}

.boutique-price-range{
    font-weight: 700;
    font-family: sans-serif;

}




