.form-root{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #111111;
    
}

.form-title-banner{
position: relative;
display: inline-block;
background-color: #ffffff;
padding: 70px;
display: flex;
flex-direction: row;
justify-content: center;
}

.form-banner-text{
    font-family: "Open Baskerville";
    font-size: 34px;
    font-style: normal;
    font-weight:lighter;
    letter-spacing: 1px;
    line-height: 1.2;
  

    text-transform: uppercase;

}

.boutique-form-container{
    border: solid black;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
    width: 400px;
    background-color:#ffffff;
    

}

.add-perfume-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.error-message-container{
    margin-left: -20px;
    margin-bottom: 30px;

}

.add-boutique-form-errors-li{
    font-family: sans-serif;
    font-weight: lighter;
    font-size: smaller;
}

.label-create-boutique{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fields-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.add-boutique-form-label{
    margin-left: 115px;
}

.add-boutique-button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 5px;
}

.add-boutique-field{
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;

}

.add-boutique{
    font-family: sans-serif;
    font-size: larger;
    font-weight: lighter;
}

/* .perfume-add-boutique-button{
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    color: black;
    font-size: medium;
    background-color: white;
    border: solid lightgrey 1px;
    border-radius: 10px;
    padding: 10px;
    margin-right: 5px;
} */

.add-boutique-button{
    font-family: 'Open Baskerville';
    text-decoration: none;
    font-weight: bold;
    background: #ffffff;
    color: #000000;
    font-size: medium;
    border: 1px solid #111111;
    padding: 14px;
    text-transform: uppercase;
    font-size: 0.8rem;
    border-radius: 0.1rem;

}

.add-boutique-form-errors-li{
    /* list-style: none; */
    color: black;
    font-weight: lighter;
    padding: 5px;
}

