.form-title-banner{
    position: relative;
    display: inline-block;
    background-color: #ffffff;
    padding: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    }


.form-banner-text{
    font-family: "Open Baskerville";
    font-size: 30px;
    font-style: normal;
    font-weight:lighter;
    letter-spacing: 1px;
    line-height: 1.2;
    text-transform: uppercase;
}


.form-root{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #111111;  
}

.boutique-form-container{
    border: solid black;
    padding: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
    border-radius: 3px;
    width: 40%;
    background-color:#ffffff;
}

.form-label{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.add-perfume-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.error-message-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.add-boutique-form-errors-li{
    margin: 0;
    padding: 0;
    list-style: none;
    color: #cd3030;
    margin-bottom: 8px;
    font-weight:lighter;
    font-size:small;
    padding: 5px;
}



.add-boutique-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.fields-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.add-boutique-button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 5px;
}

.add-boutique-field{
    padding: 10px;
    width: 200px;
    border-radius: 0.5px;
    margin-bottom: 10px;
    border:#111111 solid 0.1px;

}

.add-boutique{
    font-family: sans-serif;
    font-size: larger;
    font-weight: lighter;
}

.add-boutique-button{
    font-family: 'Open Baskerville';
    text-decoration: none;
    font-weight: bold;
    background: #ffffff;
    color: #000000;
    font-size: medium;
    border: 1px solid #111111;
    padding: 14px;
    text-transform: uppercase;
    font-size: 0.8rem;
    border-radius: 0.1rem;
    margin-top: 10px;

}


