@font-face {
    font-family: 'Open Baskerville';
    src: url('../../context/OpenBaskerville-0.0.53.otf');
}


.review-label{
    font-family: "Open Baskerville";
    font-size: 30px;
    font-style: normal;
    font-weight:lighter;
    letter-spacing: 1px;
    line-height: 1.2;
    margin-top: 80px;
    margin-right: 35px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}


.reviews-container{
    margin-bottom: 10px;
    border: solid lightgrey;
    width:fit-content;
    overflow-y: scroll; 
    padding-right: 25px;
}

.one-review{
    font-family: "Open Baskerville";
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.buttons-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}
.delete-review-button-container{
    margin-right: 10px;
    margin-top: 10px;
}

.edit-review-button-container{
    margin-right: 10px;
    margin-top: 10px;
}

.delete-review-button{
    font-family: 'Open Baskerville';
    text-decoration: none;
    font-weight: bold;
    background: #ffffff;
    color: #000000;
    font-size: medium;
    border: 1px solid #111111;
    padding: 14px;
    text-transform: uppercase;
    font-size: 0.8rem;
    border-radius: 0.1rem;
}

.edit-review-button{
    font-family: 'Open Baskerville';
    text-decoration: none;
    font-weight: bold;
    background: #ffffff;
    color: #000000;
    font-size: medium;
    border: 1px solid #111111;
    padding: 14px;
    text-transform: uppercase;
    font-size: 0.8rem;
    border-radius: 0.1rem;
    margin-right: 20px;
}

.boutique-name{
    font-weight: 700;
    font-family: sans-serif;
    padding: 0px;
}

.you-cant-leave-review{
    font-weight: 700;
    font-family: sans-serif;

}
