.review-label{
    font-family: sans-serif;
    margin-left: 20px;
}


.reviews-container{
    margin-bottom: 10px;
    margin-left: 20px;
    border: solid lightgrey;
    border-radius: 10px;
    max-width: 50%;
    overflow-y: scroll; 
}

.one-review{
    font-family: sans-serif;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.buttons-container{
    display: flex;
    flex-direction: row;
}
.delete-review-button-container{
    margin-right: 10px;
    margin-top: 10px;
}

.edit-review-button-container{
    margin-right: 10px;
    margin-top: 10px;
}

.delete-review-button{
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    color: black;
    font-size: medium;
    background-color: white;
    border: solid lightgrey 1px;
    border-radius: 10px;
    padding: 10px;
    margin-right: 5px;
}

.edit-review-button{
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    color: black;
    font-size: medium;
    background-color: white;
    border: solid lightgrey 1px;
    border-radius: 10px;
    padding: 10px;
    margin-right: 5px;
}

.boutique-name{
    font-weight: 700;
    font-family: sans-serif;
    padding: 0px;
}

.you-cant-leave-review{
    font-weight: 700;
    font-family: sans-serif;

}
