body {
    margin: 0px;
}

.fragrance-title-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
}

.fragrance-title{
    font-family: "Open Baskerville";
    font-size: 34px;
    font-weight:lighter;
    letter-spacing: 1px;
    line-height: 1.2;
    margin-top: 50px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.all-perfumes-container{
    margin: 1%;
    display: flex;
   
    flex-wrap: wrap;
    justify-content: center;
}

.perfumes-container {
    padding: 3px;
}

.perfume-img{
    /* width: 310px;
    height: 290px;
    border-radius: 10px; */

    width: 570px;
    height: 500px;
    
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 1px; 
}

.perfume-name-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.perfume-buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 45px;
}

.delete-perfume-button{
    font-family: 'Open Baskerville';
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
    background: #ffffff;
    color: #000000;
    font-size: medium;
    border: 1px solid #111111;
    padding: 14px;
    text-transform: uppercase;
    font-size: 0.8rem;
    border-radius: 0.1rem;
}

.edit-perfume-button{
    font-family: 'Open Baskerville';
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
    background: #ffffff;
    color: #000000;
    font-size: medium;
    border: 1px solid #111111;
    padding: 14px;
    text-transform: uppercase;
    font-size: 0.8rem;
    border-radius: 0.1rem;
}

.perfume-sold-out{

    display: flex;
    flex-direction: row;
    justify-content: center;
}

    

