body{
    margin: 0px;
   }
.nav-bar {
    position: sticky;
    border-bottom: solid lightgrey;
    background-color: #111111;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
 }

 .logo-container{
    margin-left: 30px;
 }

.home-button-logo {
   padding: 15px 20px;
   text-decoration: none;
   color: black;
   cursor: pointer;
   /* border-radius: 0.20em; */
}

#logo{
    height: 140px;
    width: 170px;
}

/* .li-elements-home{
    list-style: none;
} */

.become-a-host-container{
    margin-top: 62px;
}

.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
  }

  .NavLink{
    text-decoration: none;
    font-weight: lighter;
    font-size: 1.1rem;
    color: #ffffff;
    margin-right: 20px;
    font-family: 'Helvetica', sans-serif;
  }

.NavLink-add-boutique{
    text-decoration: none;
    font-weight: lighter;
    font-size: 1.1rem;
    color: #ffffff;
}

.NavLink:hover {
  border-bottom: 2px solid #ffffff;
}


.become-a-host-and-profile-button {
    /* list-style: none; */
    display: flex;
    margin-left: 950px;
    
}


.li-elements-profile-button-loggedIn{
    list-style: none;
    align-items: flex-end;
    
}

.sign-up-navlink{
    text-decoration: none;
    border: solid 1.8px white;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    padding-left:7px;
    padding-right: 7px;
    color: black;
    font-family: sans-serif;
    font-size: 14px;
}


.profile-button{
    margin-top: 33.5px;
    background-color: #111111;
    border: none;
    color: white;
}


