body{
    margin: 0px;
   }
.nav-bar {
    position: sticky;
    border-bottom: solid lightgrey;
    background-color: #111111;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
 }

 .logo-container{
    margin-left: 35px;
 }

.home-button-logo {
   padding: 15px 20px;
   text-decoration: none;
   color: black;
   cursor: pointer;
   /* border-radius: 0.20em; */
}

#logo{
    height: 140px;
    width: 170px;
}

/* .li-elements-home{
    list-style: none;
} */

.become-a-host-container{
    margin-top: 62px;
}

.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
  }

  .NavLink{
    text-decoration: none;
    font-weight: lighter;
    font-size: 1.1rem;
    color: #ffffff;
    margin-right: 20px;
    font-family: 'Helvetica', sans-serif;
  }

.NavLink-add-boutique{
    text-decoration: none;
    font-weight: lighter;
    font-size: 1.1rem;
    color: #ffffff;
    white-space: nowrap;
    margin-right: -10px;
}

.NavLink:hover {
  border-bottom: 2px solid #ffffff;
}


.become-a-host-and-profile-button {
    /* list-style: none; */
    display: flex;
    margin-left: 950px;
    
}


.li-elements-profile-button-loggedIn{
    list-style: none;
    align-items: flex-end;
    
}

.sign-up-navlink{
    margin-right: 10px;
    margin-top: 39px;
    font-family: 'Open Baskerville';
    font-weight: lighter;
    text-decoration: none;
    background: #111111;
    color: #ffffff;
    border: 1px solid #111111;
    border-color: #222222;
    padding: 14px;
    text-transform: uppercase;
    font-size: 0.7rem;
    border-radius: 0.1rem;
    cursor: pointer;
}


.profile-button{
    margin-top: 33.5px;
    background-color: #111111;
    border: none;
    color: white;
}


@media screen and (min-width: 769px) {

    .logo-container {
    
        margin-left: 30px; /* Remove any previous margin that centered it */
        margin-right: auto; /* Push it to the left side of its containing element */
      }

      .li-elements-profile-button-loggedIn{
        list-style: none;
        align-items: flex-end;
        margin-right: 25px;
    }
    }


