
/* #profile-logout-mybookings-container{
    background-color: aqua;
} */

.profile-button{
    
    padding: 15px 20px;
    /* text-align: center; */
    cursor: pointer;
    border-radius: 15px;
    margin-left: 20px;
    margin-right: 20px;

}

.profile-dropdown-container{
    /* background-color: red; */
    border-radius: 2px;
    /* top: 100px;*/
    right: 137px; 
    bottom: 30px;
    position: absolute;
    z-index: 10;
    padding: 10px;
    background-color: #111111;
    
    
}


.logout-button-li{
    list-style: none;
}

.logout-button{
    /* border: none;
    color: white;
    background-image: linear-gradient(to right, rgb(255, 90, 95), rgb(250,90,255));
    height: 30px;
    border-radius: 5px; */
    text-decoration: none;
    /* font-family: sans-serif; */
    color: black;
    font-size: medium;
    background-color: white;
    border: solid lightgrey 1px;
    border-radius: 10px;
    padding: 4px;
    margin-bottom: 10px;
}
