.log-in-button-on-navbar{
    border: none;
    color: black;
    background-color: white;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    margin-top: 40px;
    font-family: sans-serif;
}
