.log-in-button-on-navbar{



    margin-right: 10px;
    margin-top: 39px;
    font-family: 'Open Baskerville';
    font-weight: lighter;
    text-decoration: none;
    background: #111111;
    color: #ffffff;
    font-size: medium;
    border: 1px solid #111111;
    border-color: #222222;
    padding: 14px;
    text-transform: uppercase;
    font-size: 0.7rem;
    border-radius: 0.1rem;
    cursor: pointer;

}
