.login-button{
    border: none;
    color: white;
    background-color: #FF5A5F;
    height: 30px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.demo-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2px;
}

.demo-button{
    border: none;
    color: white;
    background-color: #FF5A5F;
    height: 30px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
}


.login-form-root{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.login-fields-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fields-label{
    padding: 7px;
    margin-bottom: 7px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.input{
    border: solid black;
    border-radius: 10px;
    padding: 7px;
}

.error-message{
    color: #FF5A5F;
    /* list-style: none; */
    padding-right: 40px;
}
