.login-button{
    border: none;
    color: white;
    background-color: #FF5A5F;
    height: 30px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.form-root{
    padding: 20px;
}

.label{
    padding: 7px;
    margin-bottom: 7px;
}

.input{
    border: solid black;
    border-radius: 10px;
    padding: 7px;
}
