.form-root{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.review-form-container{

    border: solid black;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
    width: 258px;
}

.fields-container{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.add-review-textarea{
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.review-field{
    font-family: sans-serif;
    padding: 20px;
    margin-left: 31px;
}

#add-review-button-container{
    margin-left: 92px;
}

#add-new-review-button{
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    color: black;
    font-size: medium;
    background-color: white;
    border: solid lightgrey 1px;
    border-radius: 10px;
    padding: 10px;
    /* margin-right: 10px; */
}

.error-messages-li{
    /* list-style: none; */
    color: #FF5A5F;
    font-weight: lighter;
    padding: 5px;
}

